<mat-card>
    <h1>{{formType}}</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>mathematics</mat-label>
              <input matInput [(ngModel)] = "mathematics" name = "mathematics" required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psychometric</mat-label>
              <input matInput [(ngModel)] = "psychometric" name = "psychometric" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Payed?</mat-label>
                <mat-select matSelect [(ngModel)] = "payed" name = "payed" required>
                  <mat-option value= "true">Payed</mat-option>
                  <mat-option value="false" >Not Payed</mat-option>
                </mat-select>
              </mat-form-field>
          </p>    
          <mat-form-field appearance="fill" *ngIf="show">
            <mat-label>drop</mat-label>
            <mat-select matSelect [(ngModel)] = "drop" name = "drop" required>
              <mat-option *ngIf="bresult" value= "drop">drop</mat-option>
              <mat-option *ngIf="bresult" value="Not drop" >Not drop</mat-option>
              <mat-option *ngIf="!bresult" value="Not drop" >Not drop</mat-option>
              <mat-option *ngIf="!bresult" value="drop" > drop</mat-option>
            </mat-select>
          </mat-form-field>                                   
        <div >
            <!-- <button (click) = "updateParent()" mat-raised-button color="primary">{{formType}}</button> -->

            <button (click) = "tellParentToClose()" mat-raised-button color="secondary">Cancel</button>
            <button  *ngIf="!show" (click)  = "onSubmit(mathematics,psychometric ,payed)" mat-raised-button color="primary">predict</button>
            <button *ngIf="show" (click) = "Close()" mat-raised-button color="secondary">Cancel</button>
            <button *ngIf="show" (click) = "updateParent()" mat-raised-button color="primary">Save</button>

            <p  *ngIf="show" >the odds are:{{result}}. submit the correct option on the dropdown (0.5>result-> "drop", else "not drop"  ) </p>
            
        </div>
       
      </div>
    </form>
   </mat-card>
