
<p *ngIf = "!(posts$ )">Loding...</p>
<br>


    <mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
          <mat-expansion-panel-header>
         {{post.title}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        <p *ngIf = "post.likes">Likes: {{post.likes}}</p>
          </mat-expansion-panel-header>
           {{post.body}}
          <button mat-raised-button color="primary" (click)=deletepost(post.id)>
                Delete 
            </button>

            <button mat-raised-button color="primary" (click)=likepost(post.id,post.likes)>
                   Like
                </button>
        </mat-expansion-panel>

      </mat-accordion>