
<br>


    <mat-accordion>
        <mat-expansion-panel *ngFor = "let stud of students$ | async">
          <mat-expansion-panel-header>
            mathematics:  {{stud.mathematics}} psychometric: {{stud.psychometric}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        
          </mat-expansion-panel-header>
          
          {{stud.drop}}

            
        </mat-expansion-panel>

      </mat-accordion>
