<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addCustomerFormOPen = !addCustomerFormOPen"
>
Add Customer
</button>      
</div>
<div>
  <customerform *ngIf = "addCustomerFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addCustomerFormOPen = false"
    [formType] = "'Add customer'">    
  </customerform>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let customer of customers;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Name: {{customer.name}}&nbsp;&nbsp;&nbsp;&nbsp;
          <span  [ngClass]="[customer.result=='Will pay' ? 'green' : 'red']">{{customer.result}}</span>
        </mat-panel-title>
        <mat-panel-description>
            Education in years: {{customer.years}}
          <button mat-raised-button
          color = "primary"
          (click) = "deleteCustomer(customer.id)">
          Delete
          </button>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
        
      <customerform 
        [hidden] = "!editstate[i]"
        [name] = "customer.name"
        [years] = "customer.years"
        [income] = "customer.income"
        [formType] = "'Edit customer'"
        [id] = "customer.id"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]"
      >
    </customerform>
      <p>Personal income: {{customer.income}} </p>

      <button mat-raised-button
          color = "primary"
          (click) = "editstate[i] = !editstate[i]"    
            >
        Edit
      </button> 
      <button *ngIf = "!customer.result" mat-raised-button 
      color="primary"
      (click) = "predict(i)"
      >
      Predict
    </button>
    
    <button *ngIf = "customer.result&&!customer.saved" mat-raised-button 
    color="primary"
    (click) = "updateResult(i)"
    >
    Save
  </button>
  <span *ngIf = "customer.saved">saved</span>
    
      
    </mat-expansion-panel>
  </mat-accordion>
