<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
      <a mat-list-item routerLink="/students" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">add Students</a>
      <a mat-list-item routerLink="/savedstudents" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">saved Students</a>

      <!-- <a mat-list-item routerLink="/posts" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">Blog Posts</a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">Customers</a>
      <a mat-list-item routerLink="/savedposts" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">Saved Posts</a>
      <a mat-list-item [routerLink]="['/temperatures','Paris']" routerLinkActive="active" *ngIf = "(authService.getUser()|async)">Temperatures</a>
      <a mat-list-item href="#" >Not loged-in link</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>test1</span>
      <span class = "spacer"></span>
      <a class = "whitelink" 
           routerLink="/signup" *ngIf = "!(authService.getUser()|async)">SignUp</a>       
        <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.getUser()|async)">Login</a>
           <a class = "whitelink" (click) = "authService.logout()" *ngIf = "(authService.getUser()|async)">Logout</a>
    </mat-toolbar>
    <!-- <a mat-list-item routerLink="/welcome" routerLinkActive="active">welcome</a> -->
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
