<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)] = "name" name = "name" required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years</mat-label>
              <input matInput [(ngModel)] = "years" name = "years" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput [(ngModel)] = "income" name = "income" required>
            </mat-form-field>
          </p>                                       
        <div >
            <button (click) = "updateParent()" mat-raised-button color="primary">{{formType}}</button>

            <button (click) = "tellParentToClose()" mat-raised-button color="secondary">Cancel</button>
        </div>
      </div>
    </form>
   </mat-card>

