<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$"                        
                         >
      <mat-expansion-panel-header>
        <mat-panel-title >
        
          {{post.title}}<span class = "spacer"></span> {{post.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{post.body}} 

        <!-- <button type="button" (click)="goToUrl()">Click me!</button>

        <button (click) = getComments(post.id) mat-raised-button color = "primary">Comments</button>
        <a href=postComment target="_blank">freeCodeCamp</a> -->
        
         <!-- {{comment.email}} -->
        <!-- <mat-card *ngFor =  "let comment of comments$ | async" [postId] = "post.id" >
          {{comment}}
        </mat-card> -->
      <p> 
      <!-- <div>
        <div *ngFor="let comment of comments$" >
          <div *ngIf = "comment.postId == post.id ; other"> <h3> comment:</h3> {{comment.body}}  </div>
    </div> 
      </div> -->
      <button mat-raised-button color="primary" (click)= savePost(post.title)> Save </button>
      
      
    </mat-expansion-panel>
  </mat-accordion>
