
<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addStudentFormOPen = !addStudentFormOPen"
>
Add Student
</button>      
</div>
<div>
  <studentform *ngIf = "addStudentFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addStudentFormOPen = false"
    [formType] = "'Add student'">    
  </studentform>
</div>
